# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim swap files
*.swp

# TeX files
*.pdf
*.aux
*.log
*.out
*.toc

# Executable files
*.exe
*.sh

# Misc files
*.test
*.txt
tags
*.test
TODO
