# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim swap files
*.swp

# Executable files
*.exe
*.sh

# Misc files
*.test
*.txt
tags
test/*
